<%- include('partials/head') %>
<%- include('partials/header') %>

<section class="sidetopp">
  <div class="ramme">
    <h1>Fant ikke siden</h1>
    <p class="ingress">Siden du lette etter finnes ikke – kanskje den er gravd bort. Gå til forsiden, eller ta kontakt med oss.</p>
    <div class="cta-knappar" style="margin-top: 1.6rem;">
      <a class="knapp knapp-primar" href="/">Til forsiden</a>
      <a class="knapp knapp-omriss-lys" href="/kontakt">Kontakt oss</a>
    </div>
  </div>
</section>

<%- include('partials/footer') %>
